# To include this config to the repository, run: git config include.path ../.gitconfig

[alias]
    # cmake-format can be installed as follows: pip install cmakelang
    cmake-format = "!\
        git ls-files $(git rev-parse --show-toplevel) \
        | grep -e CMakeLists.txt -e '.cmake$' \
        | xargs cmake-format -i\
    "
    format = "!\
        git cmake-format && \
        git clang-format --force --quiet \
    "
